<div>
  <img src="http://usfkclassifieds.co.kr/layout/default/image/junk.jpg" alt="Tow truck with a junked car attached">
  <p>
    If it's time to lay her to rest permanently, you have two options
    <br>
    1) donate it to your respective vehicle registration office (if you
    can even get it there without the additional cost of a tow truck if the car won't start), where you will get $0 for it.
    <br>
    2) junk it with us and we can give you a minimum of KRW 300,000/$250,
    up to $500-2000 (high end larger sedans, vans), tow it if necessary for free, and clear you at vehicle reg.
    <br>
    ....decisions decisions......
    <br>
    UPDATE - as of 1 November, we are also authorized to junk (and give you money for) non-Korean SOFA registered cars (in the past the owner actually had to pay a fee for to get it junked).
  </p>
</div>