<div class="container slider">
  <!-- enumerate all photos -->

  <img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"
       ng-show="isActive($index)" ng-src="{{photo.src}}" />
  <!-- prev / next controls -->
  <button class="btn btn-lg" ng-click="showPrev()">
    <span class="arrow next glyphicon glyphicon-arrow-right"></span>
  </button>
  <button class="btn btn-lg" ng-click="showNext()">
    <span class="arrow prev glyphicon glyphicon-arrow-left"></span>
  </button>
  <!-- extra navigation controls -->
  <ul class="photoNav">
    <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
      <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
    </li>
  </ul>
</div>
