<div>
  <p>
    <strong>Cash</strong>
    Either US$ or KRW equivalent.
    Payment through paypal will soon be available as well.
  </p>
  <p>
    <strong>Checks</strong>
    Unfortunately due a recent number of bounced checks, we have discontinued their acceptance in general.
  </p>
  <p>
    <strong>Credit cards</strong>
    For repairs only, all standard VISA/Master etc cards accepted.
  </p>

  <p><strong>Financing</strong>
    Although we are not able to offer financing for vehicles at this time (Korean financial institutions are
    unable to work with USFK & expatriate personnel due to the lack of a speedy recourse structure in case of default).
    <br>Loans - you can get a quickly processed signature loan at the community bank or through OMNI
    Financial ($500-$10,000)- see militaryloans.com (Toll free in Korea 010 800 LOANS YES)
  </p>
</div>